{% extends "base.html" %}

{% block page_content %}

          <div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="active-member">
                                <div class="table-responsive">
                                  <table class="table table-xs mb-0">
                                    <thead>
                                      <tr>
                                          <th>name</th>
                                          <th>author_url</th>
                                          <th>author_id</th>
                                          <th>rating</th>
                                          <th>rating_count</th>
                                          <th>review_count</th>
                                          <th>image_url</th>
                                          <th>related_authors</th>
                                          <th>author_books</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% for i in u %}
                                          <tr>
                                              <td>{{ i.get('name') }}</td>
                                              <td>{{ i.get('author_url') }}</td>
                                              <td>{{ i.get('author_id') }}</td>
                                              <td>{{ i.get('rating') }}</td>
                                              <td>{{ i.get('rating_count') }}</td>
                                              <td>{{ i.get('review_count') }}</td>
                                              <td>{{ i.get('image_url') }}</td>
                                              <td>{{ i.get('related_authors')[0] }}</td>
                                              <td>{{ i.get('author_books')[0] }}</td>
                                          </tr>
                                      {% endfor %}
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                  </div>
            </div>
          </div>

{% endblock %}
